USE [master]
GO
/****** Object:  Database [MerchantsDb]    Script Date: 6/03/2017 2:30:17 PM ******/
CREATE DATABASE [MerchantsDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MerchantsDb', FILENAME = N'C:\Users\Hemant\MerchantsDb.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MerchantsDb_log', FILENAME = N'C:\Users\Hemant\MerchantsDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MerchantsDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MerchantsDb]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 6/03/2017 2:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Id] [int] NOT NULL,
	[address1] [varchar](50) NULL,
	[address2] [varchar](50) NULL,
	[postcode] [varchar](10) NULL,
	[state] [varchar](50) NULL,
	[country] [varchar](50) NULL,
	[UserId] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Merchant]    Script Date: 6/03/2017 2:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merchant](
	[_id] [varchar](100) NOT NULL,
	[display_name] [varchar](100) NOT NULL,
	[date_created] [datetime] NULL,
	[date_modified] [datetime] NULL,
	[email] [varchar](50) NOT NULL,
	[logo] [varchar](500) NULL,
	[phone] [varchar](15) NULL,
	[registered_name] [varchar](50) NULL,
	[status] [varchar](50) NULL
) ON [PRIMARY]

GO
USE [master]
GO
